.section__one {
    text-align: center;
    margin-bottom: 45px;
}

.inheritance {
    font-size: 18px;
    margin-bottom: 30px;
}

span {
    font-size: 20px;
    color: red;
}

h1 {
    font-size: 33px;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 30px;
}

.paragraph {
    line-height: 1.7;
    margin-bottom: 50px;
}

.block__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    border-radius: 10px;
    background: #1C140F;
    padding: 60px 0 60px 0;
    margin-bottom: 160px;
}

.img__user {
    background: url(../img/user.svg) no-repeat left 90px center ; 
} 

.img__location {
    background: url(../img/location.svg) no-repeat left 90px center ; 
}

.img__server {
    background: url(../img/Server.svg) no-repeat left 90px center ; 
}

h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px; 
    align-items: center;
}

.informative {
    display: flex;
    justify-content: space-between;
    margin-bottom: 182px;
}

.title__video {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 45px;
}

.paragraph__video {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 22px;
}

.picture-text {
    font-size: 14px;
    margin-bottom: 20px;
    background: url("../img/Group.svg") no-repeat left;
    padding-left: 35px; 
}

.paragraph__image {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 35px;
}

.paragraph__size {
    font-size: 14px;
    margin-bottom: 70px;
}

.btn__section {
    color: white;
	padding: 11px 30px;
	text-decoration: none;
    background: #FA9021;
    transition: all .3s ease-in;
}

.btn__section:hover {
    background: red;
}

.section__color {
    background: #1C140F;
}

.heading {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 30px;
}

.lorem_ipsum {
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
    padding-bottom: 68px;
}

.grid_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 30px;
   padding-bottom: 30px;
}

.robert {
    font-size: 18px;
    font-weight: 500;
    background: url("../img/Ellipse3.svg") no-repeat left ;
    padding-left: 70px;
    margin-bottom: 20px;
}

.christy {
    font-size: 18px;
    font-weight: 500;
    background: url("../img/Ellipse1.svg") no-repeat left ;
    padding-left: 70px;
    margin-bottom: 20px;
}

.kim {
    font-size: 18px;
    font-weight: 500;
    background: url("../img/Ellipse2.svg") no-repeat left ;
    padding-left: 70px;
    margin-bottom: 20px;
}

.country {
    font-size: 14px;
    opacity: 50%;
    color: #4F5665;
    text-align: center;
}

.block__text {
    font-size: 14px;
    margin-bottom: 10px;
}

.star {
    color: darkgoldenrod;
    text-align: right;
}

.transformations {
    border-radius: 10px;
    border: 1px solid;
    padding: 50px 37px;
    transition: all .3s ease-in;
   
}

.transformations:hover {
    background-color: #0F0901;
    border: 1px solid #DC7000;
}

.circle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    margin-bottom: 140px;
}

.btn-left {
    font-size: 20px;
    border: 2px solid #FA9021;
    color: #FA9021;
    border-radius: 10px;
	padding:  11px 30px;
	text-decoration: none;
    background: #0F0901;
    transition: all .3s ease-in;
}

.btn-left:hover {
    background: #FA9021;
    border: 2px solid white;
    color: white;
}

.btn-right {
    font-size: 20px;
    border: 2px solid #FA9021;
    color: #FA9021;
    border-radius: 10px;
	padding:  11px 30px;
	text-decoration: none;
    background: #0F0901;
    transition: all .3s ease-in;
}

.btn-right:hover {
    background: #FA9021;
    border: 2px solid white;
    color: white;
}

.subtitles {
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.lorem {
    line-height: 1.7;
    margin-bottom: 50px;
    font-weight: 600;
    text-align: center;
}

.back__color {
    background: #1C140F;
    border-radius: 20px;
    width: 98%;
    padding: 20px;
    margin-bottom: 167px;
    transform: translateY(2%);
    transition: .6s;
   
    padding-top: 20px;
    transition: all .3s ease-in;
}

.back__color:hover {
    border-radius: 10px;
    box-shadow: inset rgba(0,0,0,.6) 0 -3px 8px, inset rgba(0, 0, 0, 0.177) 0 3px 8px, rgba(0,0,0,.8) 0 3px 8px -3px;
    transform: scale(1.1);
}

form {
    text-align: center;
}

.input {
    color: black;
    font-weight: 200;
	width: 400px;
	font-size: 20px;
	border: 3px solid black;
    padding-left: 15px;
	height: 45px;
	border-radius: 20px;
}

.btn__form {
    background: #DC7000;
    margin-left: 15px;
	color: white;
    border-radius: 20px;
	padding: 15px 25px;
	text-decoration: none;
    margin-bottom: 163px;
    transition: all .5s ease-in;
}

.btn__form:hover {
    background: red;
}