.footer {
    background-color: black;
}

.footer__text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.footer__logo {
    margin-top: 50px;
    margin-bottom: 30px;
}

.list {
    font-size: 14px;
    font-weight: 200;
    opacity: 70%;
}

.title_footer {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 500;
}

.paragraph__footer {
    font-size: 14px;
    font-weight: 200;
    opacity: 70%;
    margin-bottom: 30px;
}

.group {
    padding-top: 150px; 
}