.footer {
    background-color: #232323;
}

.title__footer {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3.36px;
    padding-top: 120px;
    margin-bottom: 10px;
    text-align: center;
}

.paragraph__footer {
    letter-spacing: 1.6px;
    text-align: center;
    padding-bottom: 20px;
}

.links__networks {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 48px;
}

.tel {
    margin: 0 12px;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in;
    
}  

.tel:hover {
    color: #5474FD;
}