.section__one {
    text-align: center;
    margin-bottom: 45px;
}

.inheritance {
    font-size: 18px;
    margin-bottom: 30px;
}

span {
    font-size: 20px;
    color: red;
}

h1 {
    font-size: 33px;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 30px;
}

.paragraph {
    line-height: 1.7;
    margin-bottom: 175px;
}

.section__flex {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    margin-bottom: 160px;
}

.image {
    margin-bottom: 30px;
    box-shadow: 0 14px 28px rgba(2, 8, 113, 0.687), 0 10px 10px rgba(5, 21, 201, 0.87);
    border-radius: 25px;
}

.title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.paragraph__news {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 30px;
}


.image__kids {
    margin-bottom: 25px;
}

.inovation__kids {
    margin-top: 84px;
    margin-bottom: 25px;
}


h3 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 25px;
}

.btn__pink {
    color: white;
    padding: 11px 30px;
	text-decoration: none;
    background: #FF8484;
    transition: all .3s ease-in;
}

.btn__pink:hover {
    background: red;
}

.btn__blue {
    color: white;
    padding: 11px 30px;
	text-decoration: none;
    background: #2351F5;
    transition: all .3s ease-in;
}

.btn__blue:hover {
    background: red;
}

.btn__orenge {
    color: white;
    padding: 11px 30px;
	text-decoration: none;
    background: #FA9021;
    transition: all .3s ease-in;
}

.btn__orenge:hover {
    background: red;
}

.btn__green {
    color: white;
    padding: 11px 30px;
	text-decoration: none;
    background: #23A54F;
    transition: all .3s ease-in;
}

.btn__green:hover {
    background: red;
}

.btn__violet {
    color: white;
    padding: 11px 30px;
	text-decoration: none;
    background: #9921C3;
    transition: all .3s ease-in;
}

.btn__violet:hover {
    background: red;
}

.btn__terquoise {
    color: white;
    padding: 11px 30px;
	text-decoration: none;
    background: #04fde0;
    transition: all .3s ease-in;
}

.btn__terquoise:hover {
    background: red;
}

.btn__green {
    color: white;
    padding: 11px 30px;
	text-decoration: none;
    background: #23A54F;
    transition: all .3s ease-in;
}

.btn__green:hover {
    background: red;
}

.subtitles {
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.lorem {
    line-height: 1.7;
    margin-bottom: 50px;
    font-weight: 600;
    text-align: center;
}

.back__color {
    background: #1C140F;
    border-radius: 20px;
    width: 98%;
    padding: 20px;
    margin-bottom: 167px;
    transform: translateY(2%);
    transition: .6s;
   
    padding-top: 20px;
    transition: all .3s ease-in;
}

.back__color:hover {
    border-radius: 10px;
    box-shadow: inset rgba(0,0,0,.6) 0 -3px 8px, inset rgba(0, 0, 0, 0.177) 0 3px 8px, rgba(0,0,0,.8) 0 3px 8px -3px;
    transform: scale(1.1);
}

form {
    text-align: center;
}

.input {
    color: black;
    font-weight: 200;
	width: 400px;
	font-size: 20px;
	border: 3px solid black;
    padding-left: 15px;
	height: 45px;
	border-radius: 20px;
}

.btn__form {
    background: #DC7000;
    margin-left: 15px;
	color: white;
    border-radius: 20px;
	padding: 15px 25px;
	text-decoration: none;
    margin-bottom: 163px;
    transition: all .5s ease-in;
}

.btn__form:hover {
    background: red;
}


    






